.cartContainer{
    background-color: rgba(255,153,0,0.3);
    padding: 25px;
    position: sticky;
    top: 0;
    border: 1px solid gray;
}

.cartContainer header {
    border: 5px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.cartContainer main{
    border: 5px solid gray;
}